<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @user.email %></h1>
    <p>
      You forgot your password? if yes ?
      follow this link for change your password <a href="http://localhost:3000/update_password?token=<%= @user.reset_password_token %>&email=<%= @user.email %>" target="_blank">Aqui</a>
      <br>
    </p>
    <p>
     If your not solicited this action, check your profile platform and change your password.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>