<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @user.email %></h1>
    <p>
    Você esqueceu sua senha? se sim ?
      Siga este link <a href="http://localhost:3000/update_password?token=<%= @user.reset_password_token %>&email=<%= @user.email %>" target="_blank">Aqui</a>
      e recupere sua senha.
      <br>
    </p>
    <p>
    Se não foi você ignore esta solicitação, verifique seu perfil e troque sua senha.
    </p>
    <p>Tenha um bom dia!</p>
  </body>
</html>