<p>Your recives this email because your account is blocked. For unlock, follow this link belown:</p>

<p><a href="http://localhost:3000/unlock/show?unlock_token=<%= @user.email %>">please click here</a></p>
