<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @user.email %></h1>
    <p>
    Sua senha foi alterada.
      <br>
    </p>
    <p>
     Se foi você ignore este email, se não verifique seu perfil na plataforma e troque sua senha.
    </p>
  </body>
</html>